/* Pantalla general */
.screen-register{
    width: 100vw;
    height: 100vh;
    display: flex;
}
/*PROGRESS BAR*/
.progress-bar{
    width: 600px;
    height: 4px;
    background-color: white;
    margin-bottom: 50px;
}
.progress-bar div{
    width: 33.3%;
    height: 100%;
    background-color: #5F4FEB;
}
/*STEPS del form */
.multistep{
    display: flex;
}
.multistep .step{
    text-align: center;
    width: 100%;
}
.multistep .step h3{
    margin-top: 5px;
    width: 100%;
    color: #ABABAB;
    /*color: #5F4FEB;*/
    font-size: 1.4rem;
}
.multistep .step .circle{
    position: relative;
    height: 60px;
    width: 60px;
    display: inline-block;
    border-radius: 50%;
    background-color: #F5F5F5;
}
.multistep .step span{
    margin-top: 15px;
    line-height: 25px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.multistep .step .check{
    display: none;
}
/* Sección del Formulario */
.form-container {
    width: 100%;
    height: auto;
    /* margin-top: 60px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 90px;
}
.body{
    padding: 30px;
}
.form-container h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4.8rem;
    margin-bottom: 10px;
}
.form-container p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    margin-bottom: 30px;
}
/* Contenedor de los campos */
.container {
    width: 35vw;
    height: 100%;

}
.container p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    margin: 20px;
}
/* container de los forms y de los botones */
.register-container{
width: 100%;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 15%;
}
.container button {
    width: 20%;
    height: 40px;
    margin: 10px;
    border-radius: 6px;
    border: none;
    font-size: 1.6rem;
    background-color: #5F4FEB;
    color: #fff;
    cursor: pointer;
}
/* Estilo general de los input */
input, .select-country {
    width: 95%;
    height: 40px;
    padding-left: 10px;
    border: 1px solid #505050;
    border-radius: 5px;
    margin: 8px 0;
}

/* Sección de la imagen */
.img-half-screen {
    width: 100%;
    height: 1260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-purple);
}
.img-half-screen h2 {
    width: 80%;
    color: white;
    font-size: 3.6rem;
    text-align: center;
}
.img-half-screen img {
    width: 70%;
    margin-top: 30px;
}

a{
    size: 150px;
    opacity: 75%;
}

.select-country{
    width: 97.5%;
}

@media only screen and (max-width: 768px) {
    .img-half-screen{
        display: none;
    }
}
/* Estilos para el input del logo */
.custom-fi{
    display: block;
    border: inherit;
    height: inherit;
    overflow: hidden;
}

.custom-fi::-webkit-file-upload-button {
    visibility: hidden;
    width: 0px;
    height: 40px;
}
.custom-fi::before {
    content: 'Escoger logo*';
    font-size: 1.6rem;
    height: 40px;
    padding: 12px;
    margin: 10px;
    border-radius: 6px;
    border: none;
    font-size: 1.6rem;
    background-color: #5F4FEB;
    color: #fff;
    cursor: pointer;
}