.ubicacion-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.select-country {
  width: 40%;
  height: 40px;
  padding-left: 10px;
  border: 1px solid #505050;
  border-radius: 5px;
  margin: 10px;
}
.ubicacion-container input {
  width: 38%;
  height: 40px;
  padding-left: 10px;
  border: 1px solid #505050;
  border-radius: 5px;
  margin: 10px;
}
.ubicacion-container .input-large {
  width: 80.5%;
  height: 40px;
  padding-left: 10px;
  border: 1px solid #505050;
  border-radius: 5px;
  margin: 10px;
}